.banner {
  background-color: #009246;
  color: white;
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.banner__basket-button {
  position: initial;
  background-color: #009246;
  color: white;
  border: none;
  font-size: 2.7rem;
  margin: 1rem 0;
}

@media (min-width: 600px) {
  .banner__basket-button {
    position: absolute;
    left: 4rem;
  }
}