.carousel__item {
  padding: 5%;
  margin: 2.5%;
  border: solid 1px black;
  border-radius: 4px;
}

.carousel__item-name {
  text-align: center;
  padding-bottom: 1.5rem;
  font-size: 1.6rem;
}

.carousel__item-img {
  width: 100%;
}

.carousel__image-price {
  position: relative;
}

.carousel__add-to-basket-button {
  background-color: #CE2B37;
  color: white;
  border: none;
  padding: .5rem;
  margin: 1rem 0;
  font-size: 1rem;
}