.description {
  padding: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  z-index: 2;
  height: 100%;
  box-sizing: border-box;
}

.description__close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: #CE2B37;
  color: white;
  border: none;
}

.description__title {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}

.description__illustration, .description__text {
  width: 100%;
  margin-bottom: 2rem;
  text-align: justify;
}

.description__image-price {
  position: relative;
}

@media (min-width: 700px) {
  .description {
    left: unset;
    width: 50%;
    border-left: solid black;
  }
}

@media (min-width: 1000px) {
  .description {
    width: 26%;
  }
}