.inner-layout {
  display: block;
  position: relative;
  /* flex-direction: row;
  justify-content: space-between; */
  height: 100vh;
}

.price-tag {
  position: absolute;
  top: 8%;
  right: -3%;
  background-color: #009246;
  color: white;
  padding: 5%;
  font-size: 1.2rem;
}

@media (min-width: 400px) {
  .price-tag {
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) {
  .price-tag {
    font-size: 2rem;
  }
}

@media (min-width: 800px) {
  .inner-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .price-tag {
    font-size: 2.3rem;
  }
}

@media (min-width: 1000px) {
  .price-tag {
    font-size: 2.5rem;
  }
}