.inner-layout {
  display: block;
  position: relative;
  /* flex-direction: row;
  justify-content: space-between; */
  height: 100vh;
}

.price-tag {
  position: absolute;
  font-size: 2.5rem;
  top: 1rem;
  right: -1rem;
  background-color: #009246;
  color: white;
  padding: 1rem
}

@media (min-width: 800px) {
  .inner-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}